.app-brand {
  display: flex;
  flex-direction: line;
  align-items: center;
}

.app-brand-text-info {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.app-brand-title-light {
  color: var(--light);
}

.app-brand-title-dark {
  color: var(--dark);
}

.app-brand-subtitle-dark {
  color: var(--dark);
  font-size: small;
}

.app-brand-subtitle-light {
  color: var(--light);
  font-size: small;
}