/** Global Variables */

:root {
  /* Palette */
  --accent: #008c82;
  --dark: #002721;
  --light: #f8f9fa;
  --light-transparent: rgba(255, 255, 255, 0.116);
  --secondary: #204d81;
  --tertiary: #5a7eb7;
  --neutral-dark: #334b48;
  --neutral-light: #d4f1ed;
  --enphasis-dark: #ffa17a;
  --enphasis-light: #f3eada;

  --color-dark: #1b1b1b;
  --color-light: #fff;
  --color-neutral-dark: #333;
  --color-neutral-light: #dadfde;
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  /** Size */
  --extra-large: 300px;
  --large: 200px;
  --medium: 100px;
  --small: 50px;
  --extra-small: 30px;

  /** Margin and Paddings */
  --extra-large-space: 50px;
  --large-space: 30px;
  --medium-space: 20px;
  --small-space: 10px;
  --extra-small-space: 5px;
}

/** Global CSS */
:host,
html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.navbar {
  background-color: var(--accent);
  color: var(--neutral-light);
}

.navbar > .container {
  max-width: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.full-size-container {
  height: 100%;
  width: 100%;
}

/** Global Font Style */
a.simple-link {
  text-decoration: none;
}

a.simple-link-light {
  color: var(--light);
  text-decoration: none;
}

a.simple-link-dark {
  color: var(--dark);
  text-decoration: none;
}

/** Global Card Style */
.clickable-card:hover {
  background-color: var(--neutral-light);
}

/** Global Button Style */
.large-square-button-light {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  flex-wrap: unset;
  align-items: center;
  justify-content: center;
  height: var(--large);
  width: var(--large);
  background-color: var(--light);
  border: 1px solid var(--dark);
  color: var(--dark);
  margin: var(--medium-space);
}

.accent-button {
  background-color: var(--neutral-dark);
  color: var(--light);
  border: none;
}

.accent-button:hover {
  background-color: var(--accent);
  color: var(--light);
}

/** Global Flex Style */

.flex-container {
  display: flex;
}
